.container--post {
  padding-top: 4rem;
  padding-bottom: 4rem;
responsive(xs)
}
.post__date {
  font-size: 1rem;
  line-height: 2rem;
  color: #808080;
  font-weight: 600;
  font-family: en-font-family;
responsive(xs)
}
.post__eyecatch-image {
  margin-top: 2rem;
responsive(xs)
}
.post__eyecatch-image img {
  width: 100%;
}
.post__tags {
  margin-top: 0.5rem;
  line-height: 1.5rem;
}
.post__tag {
unstyled-link()
  color: #808080;
  font-size: 12px;
  font-weight: 600;
  margin-right: 10px;
}
.post__tag:hover {
  color: button-hover-bg-primary;
}
