.post {
  padding: 52px 0 72px;
}
.post-title {
  margin: 8px 0 12px;
}
.post-tags {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 -4px 32px;
}
.post-tag {
  margin: 4px;
}
