html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html * {
  box-sizing: border-box;
}
.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 100vh;
}
.content .body {
  flex: 1 0 auto;
}
.container {
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 1440px) {
  .container {
    max-width: 1360px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 1.5rem;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 100%;
    padding: 0 1.5rem;
  }
}
.container--body {
  padding-bottom: 4rem;
}
.col {
  width: 100%;
  display: grid;
  grid-column-gap: 1.5rem;
  grid-template-columns: 8fr 4fr;
}
@media (max-width: 575px) {
  .col {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1440px) {
  .col {
    grid-template-columns: 9fr 3fr;
  }
}
.main-col h3.main-col__title {
  color: #a57f56;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  margin: 5rem 0 1.5rem;
}
.side-col h3.side-col__title {
  color: #a57f56;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  margin: 1.5rem 0;
}
.side-col h3.side-col__title:first-of-type {
  margin-top: 0;
}
@media (min-width: 992px) {
  .side-col {
    padding-left: 1.5rem;
  }
}
@media (max-width: 575px) {
  .side-col {
    margin-top: 4rem;
  }
}
.side-col > *:not(:last-child) {
  margin-bottom: 3rem;
}
@media (max-width: 575px) {
  .hidden-xs {
    display: none;
  }
}
.visible-xs {
  display: none;
}
@media (max-width: 575px) {
  .visible-xs {
    display: block;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .hidden-sm {
    display: none;
  }
}
.unstyled-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.unstyled-link {
  color: inherit;
  text-decoration: none;
}
.unstyled-link:hover,
.unstyled-link:focus,
.unstyled-link:active {
  color: inherit;
  text-decoration: none;
}
body {
  font-size: 16px;
  line-height: 2rem;
  word-break: break-word;
  font-family: 'Noto Sans JP', sans-serif;
  color: #3a3128;
  -webkit-font-smoothing: antialiased;
}
html[lang^="ja"] body,
html[lang^="zh"] body,
html[lang^="ko"] body {
  line-break: strict;
  word-break: break-all;
}
p {
  font-size: 1rem;
  margin: 2rem 0;
}
a {
  cursor: pointer;
  text-decoration: underline;
  color: #a57f56;
}
a:hover,
a:focus {
  text-decoration: underline;
  color: #9d7952;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
h1 {
  font-size: 2rem;
  line-height: 3rem;
  margin: 1rem 0 1.5rem;
}
@media (max-width: 575px) {
  h1 {
    font-size: 22px;
    line-height: 2.25rem;
    margin: 0.5rem 0;
  }
}
h2 {
  font-size: 1.375rem;
  line-height: 2.25rem;
  margin: 4rem 0 3rem;
  position: relative;
  padding-left: 1.5rem;
}
h2:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 100%;
  background: #a57f56;
}
h3 {
  font-size: 1.125rem;
  line-height: 2rem;
  margin: 2rem 0;
}
h4 {
  font-size: 1rem;
  line-height: 2rem;
  margin: 0;
}
ul,
ol {
  margin: 0 0 2rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin: 0;
}
ul.no-list {
  list-style: none;
}
code {
  vertical-align: bottom;
}
blockquote {
  border-left: 2px solid;
  margin: 0 0 1rem;
  padding-left: 1rem;
}
hr {
  background-color: #eae8e6;
  border: none;
  color: #eae8e6;
  height: 1px;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
figcaption {
  font-size: 14px;
  color: #837b74;
}
img.icon {
  vertical-align: bottom;
}
.icon-16 {
  width: 16px;
  height: 16px;
}
.icon-24 {
  width: 24px;
  height: 24px;
}
table {
  margin: 2rem 0;
  max-width: 100%;
  border-collapse: collapse;
  border: 1px solid #dfdcd9;
  font-size: 14px;
  line-height: 1.75rem;
}
th {
  border: 1px solid #dfdcd9;
  border-bottom: 1px solid #dfdcd9;
  font-weight: bold;
  text-align: left;
  background: #f2f1f0;
}
td {
  border: 1px solid #dfdcd9;
}
th,
td {
  padding: 4px 12px;
}
tr,
td,
th {
  vertical-align: middle;
}
button {
  border: none;
}
.icon-button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon-button:hover {
  background: #8c6c49;
  color: #fff;
}
.icon-button:active {
  background: #74593c;
  color: #fff;
}
.icon-button--dark {
  background: #3a3128;
  color: #fff;
}
.icon-button--light {
  background: #fff;
  color: icon-button--color;
}
.container--post {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media (max-width: 575px) {
  .container--post {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 1440px) {
  .container--post .col {
    grid-template-columns: 8fr 4fr;
  }
}
@media (min-width: 1200px) {
  .post-col {
    padding: 0 4rem;
  }
}
.post__date {
  font-size: 1rem;
  line-height: 2rem;
  color: #a09a94;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}
@media (max-width: 575px) {
  .post__date {
    font-size: 14px;
    line-height: 1.5rem;
  }
}
.post__eyecatch-image {
  margin-top: 2rem;
}
@media (max-width: 575px) {
  .post__eyecatch-image {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}
.post__tags {
  margin-top: 0.5rem;
  line-height: 1.5rem;
}
.post__tag {
  color: inherit;
  text-decoration: none;
  color: #a09a94;
  font-size: 12px;
  font-weight: 600;
  margin-right: 10px;
}
.post__tag:hover,
.post__tag:focus,
.post__tag:active {
  color: inherit;
  text-decoration: none;
}
.post__tag:hover {
  color: #8c6c49;
}
.tag-title {
  margin: 0 0 2rem;
}
.tag-spacer {
  width: 100%;
  height: 4rem;
}
@media (max-width: 575px) {
  .tag-spacer {
    height: 2rem;
  }
}
.sidemenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.sidemenu .backdrop {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  transition: opacity 0.2s;
  opacity: 0;
}
.sidemenu .backdrop.open {
  opacity: 0.4;
}
.sidemenu-list {
  width: 280px;
  height: 100vh;
  background: #fff;
  transform: translateX(-400px);
  transition: 200ms;
  padding: 28px 0;
}
.sidemenu-list.open {
  transform: translateX(0);
}
.sidemenu li {
  font-size: 18px;
  line-height: 56px;
  font-weight: 600;
  padding-left: 42px;
  cursor: pointer;
}
.sidemenu li:hover {
  background: rgba(0,0,0,0.05);
}
.sidemenu li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.hero {
  padding: 36px 0 44px;
  text-align: center;
}
.hero img {
  margin: 0 auto;
  max-width: 320px;
}
.hero__tagline {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  margin-top: 0.75rem;
  text-align: center;
  color: #a57f56;
}
.tag-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tag-list-item {
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
  font-size: 14px;
}
.tag-list-item:not(:last-of-type) {
  border-bottom: 1px dashed #cac5c0;
}
.tag-list-link {
  flex-grow: 1;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}
.tag-list-link:hover,
.tag-list-link:focus,
.tag-list-link:active {
  color: inherit;
  text-decoration: none;
}
.tag-list-link:hover {
  color: #8c6c49;
}
.tag-list-count:before {
  content: '(';
}
.tag-list-count:after {
  content: ')';
}
.created {
  font-family: 'Roboto';
  color: text-color-dark-weak;
  line-height: 24px;
  font-weight: 500;
}
.summary {
  width: 100%;
  height: 100%;
  border: 1px solid #eae8e6;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: 0.15s;
}
.summary__title {
  color: #3a3128;
  margin: 14px 0 0;
  font-size: 17px;
  line-height: 1.75rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.summary__thumbnail {
  width: 100%;
  position: relative;
}
.summary__thumbnail:before {
  content: '';
  display: inline-block;
  width: 1px;
  padding-top: 52.5%;
}
.summary__thumbnail img {
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: 100%;
  background: #eae8e6;
  object-fit: cover;
  max-width: none;
}
.summary__body {
  padding: 21px 20px;
}
.summary__date {
  font-size: 1rem;
  line-height: 1.75rem;
  color: #a09a94;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}
.summary__tags {
  margin-top: 14px;
  line-height: 21px;
  color: #a09a94;
}
.summary__tag {
  font-size: 12px;
  font-weight: 600;
  margin-right: 10px;
}
.summary:hover {
  box-shadow: 0 0 12px rgba(160,154,148,0.3);
  text-decoration: none;
}
.summary:hover .summary__title,
.summary:hover .summary__date,
.summary:hover .summary__tags {
  color: #a57f56;
}
.header {
  border-top: 6px solid #3a3128;
  border-bottom: 1px solid #eae8e6;
  z-index: 1000;
}
.header > .container {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 575px) {
  .header > .container {
    padding: 0 12px;
  }
}
.header__brand {
  height: 100%;
  display: inline-flex;
  align-items: center;
}
.header__brand > img {
  width: 2.5rem;
  height: 2.5rem;
}
@media (max-width: 575px) {
  .header__brand > img {
    width: 40px;
    height: 40px;
  }
}
.header__brand__name {
  margin-left: 12px;
  letter-spacing: 0.6px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.header__brand__tagline {
  margin-left: 6px;
  font-size: 14px;
  font-weight: 500;
}
.header__collapse {
  height: 100%;
  align-items: center;
}
@media (min-width: 576px) {
  .header__collapse {
    display: inline-flex;
  }
}
@media (max-width: 575px) {
  .header__collapse {
    display: none;
    position: absolute;
    top: 71px;
    left: 0;
    right: 0;
    background: #fff;
    flex-direction: column;
    height: auto;
  }
}
@media (max-width: 575px) {
  .header__menu {
    width: 100%;
  }
}
.header__menu-item {
  height: 2.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  color: #3a3128;
  font-family: 'Roboto', sans-serif;
}
.header__menu-item:hover,
.header__menu-item:focus {
  color: #9d7952;
  text-decoration: none;
}
.header__menu-item:active {
  color: #9d7952;
}
@media (max-width: 575px) {
  .header__menu-item {
    height: 3rem;
    border-bottom: 1px solid #eae8e6;
    width: 100%;
  }
}
.header__socials {
  display: inline-flex;
  align-items: center;
  height: 100%;
}
@media (min-width: 576px) {
  .header__socials {
    margin-left: 10px;
  }
}
@media (max-width: 575px) {
  .header__socials {
    flex-direction: column;
    width: 100%;
  }
}
.header__socials__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 576px) {
  .header__socials__item {
    margin: 0 5px;
  }
}
@media (max-width: 575px) {
  .header__socials__item {
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid #eae8e6;
  }
}
.header__toggle {
  display: none;
  background: #eae8e6;
  outline: none;
}
.header__toggle:focus {
  background: #eae8e6;
}
.header__toggle:active {
  background: #d5d1cd;
}
@media (max-width: 575px) {
  .header__toggle {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
  }
}
.header__toggle-img {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("/img/list.svg");
}
.header.menu-open .header__toggle-img {
  background-image: url("/img/cross.svg");
}
.header.menu-open .header__collapse {
  display: inline-block;
}
.header.menu-open:before {
  content: '';
  position: fixed;
  top: 71px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(58,49,40,0.7);
  display: none;
  animation: fadein 0.2s;
}
@media (max-width: 575px) {
  .header.menu-open:before {
    display: block;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.page-nav {
  --button-size: 56px;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
@media (max-width: 575px) {
  .page-nav {
    --button-size: 48px;
  }
}
.page-nav__button {
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  width: var(--button-size);
  height: var(--button-size);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s;
}
.page-nav__button:hover,
.page-nav__button:focus,
.page-nav__button:active {
  color: inherit;
  text-decoration: none;
}
.page-nav__button:hover {
  background: #eae8e6;
}
.page-nav__button:active {
  background: #d5d1cd;
}
.page-nav__button.current {
  background: #a57f56;
  color: #fff;
  pointer-events: none;
}
.page-nav__kebab {
  width: var(--button-size);
  height: var(--button-size);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: bottom;
}
.page-nav__kebab > img {
  width: 24px;
  height: 24px;
}
.profile {
  color: text-color-light-medium;
  padding: 0 2rem 2rem;
}
.profile-thumb {
  width: 4.5rem;
  height: 4.5rem;
  margin: 2.75rem auto 2rem;
}
.profile-thumb > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.profile-name {
  width: 100%;
  margin-bottom: 8px;
}
.profile-name h3 {
  margin-bottom: 0.5rem;
}
.profile-desc a {
  color: text-color-light-medium;
}
.footer {
  background: #3a3128;
}
.footer__upper-row {
  padding: 2.5rem 0 2rem;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(255,255,255,0.15);
}
.footer__logo {
  color: inherit;
  text-decoration: none;
  width: 200px;
  cursor: pointer;
  display: block;
}
.footer__logo:hover,
.footer__logo:focus,
.footer__logo:active {
  color: inherit;
  text-decoration: none;
}
.footer__logo img {
  width: 100%;
}
.footer__tagline {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: 0.5rem;
}
.footer__bottom-row .container {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__copywrite {
  font-size: font-size-small;
  color: #fff;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
.footer__buttons > * {
  margin-left: 10px;
}
.archive {
  list-style: none;
  padding: 0;
  margin: 0;
}
.archive .archive__grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr;
}
@media (min-width: 992px) {
  .archive .archive__grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1440px) {
  .archive .archive__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.popular-posts {
  list-style: none;
  padding: 0;
  margin: 0;
}
.popular-posts-item {
  position: relative;
  display: flex;
  padding: 12px 0;
  border-bottom: 1px dashed #cac5c0;
}
.popular-posts-item:first-child {
  padding-top: 0;
}
.popular-posts-item:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.popular-posts__rank {
  position: absolute;
  top: 12px;
  left: 0;
  width: 24px;
  height: 24px;
  background: #a57f56;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.popular-posts-date {
  position: absolute;
  top: 12px;
  left: 96px;
  color: #a09a94;
  font-size: 14px;
  line-height: 1.5rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}
.popular-posts-item:first-child .popular-posts-date {
  top: 0;
}
.popular-posts-item:first-child .popular-posts__rank {
  top: 0;
}
.popular-posts-title {
  flex: 1 1 auto;
}
.popular-posts-title > h3 {
  margin: 1.5rem 0 0;
  display: inline-block;
  height: calc(100% - 1.5rem);
}
.popular-posts-title > h3 > a {
  color: inherit;
  text-decoration: none;
  padding: 0 16px;
  font-size: 15px;
  line-height: 1.5rem;
  font-weight: 600;
  height: 3rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.popular-posts-title > h3 > a:hover,
.popular-posts-title > h3 > a:focus,
.popular-posts-title > h3 > a:active {
  color: inherit;
  text-decoration: none;
}
.popular-posts-title > h3 > a:hover {
  color: #8c6c49;
}
.popular-posts-img {
  flex: 0 0 80px;
  height: 80px;
}
.popular-posts-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.related-posts {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-column-gap: 1.5rem;
  grid-row-gap: 0;
  grid-template-columns: 1fr;
  margin-top: -12px;
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .related-posts {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 575px) {
  .related-posts {
    margin-bottom: 1.5rem;
  }
}
.related-posts-item {
  position: relative;
  display: flex;
  padding: 12px 0;
  border-bottom: 1px dashed #cac5c0;
}
.related-posts-item:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.related-posts-date {
  position: absolute;
  top: 12px;
  left: 96px;
  color: #a09a94;
  font-size: 14px;
  line-height: 1.5rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}
.related-posts-item:first-child .popular-posts-date {
  top: 0;
}
.related-posts-title {
  flex: 1 1 auto;
}
.related-posts-title > h3 {
  margin: 1.5rem 0 0;
  display: inline-block;
  height: calc(100% - 1.5rem);
}
.related-posts-title > h3 > a {
  color: inherit;
  text-decoration: none;
  padding: 0 16px;
  font-size: 15px;
  line-height: 1.5rem;
  font-weight: 600;
  height: 3rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.related-posts-title > h3 > a:hover,
.related-posts-title > h3 > a:focus,
.related-posts-title > h3 > a:active {
  color: inherit;
  text-decoration: none;
}
.related-posts-title > h3 > a:hover {
  color: #8c6c49;
}
.related-posts-img {
  flex: 0 0 80px;
  height: 80px;
}
.related-posts-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
