.archive {
  padding: 0 3rem;
}
.archive > ul {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 3rem;
}
.archive > ul > li {
  grid-column: span 4;
responsive(xl)
responsive(md)
}
.archive__page-nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 3rem;
}
.archive__page-nav .page-nav {
  grid-column: 5/span 4;
responsive(xl)
}
