.header {
  padding: 0 3rem;
  line-height: 4rem;
  display: flex;
responsive(xs)
}
.header__main-title {
  font-size: 21px;
  line-height: 4rem;
  font-weight: bold;
}
.header__sub-title {
  font-weight: bold;
  margin-left: 1rem;
}
