.summary {
  padding: 0.5rem 0 3rem;
  cursor: pointer;
  border-top: 1px solid splitter-color-dark;
}
.summary__title {
  margin: 1rem 0 12px;
  min-height: 3.5rem;
}
.summary__title a {
  color: primary-color-dark;
}
.summary__title a:hover {
  text-decoration: underline;
}
.summary__desc {
  max-height: 4.5rem;
  margin: 0.75rem 0 1rem;
  overflow: hidden;
}
.summary__desc * {
  margin: 0 !important;
  font-size: $base-font-size !important;
  font-weight: normal !important;
  color: text-color-dark-strong !important;
  text-decoration: none !important;
}
.summary__tags {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 -4px;
}
.summary-tag {
  margin: 4px;
}
